In [1]:
import pandas as pd
import numpy as np

In [9]:
negativ = [31/5000, 14/5000, 23/5000, 8/1713, 960/5000]
neutra = [4956/5000, 4969/5000, 4962/5000, 1705/1713, 3511/5000]
positiv= [13/5000, 17/5000,15/5000, 0/1713, 529/5000]

df = pd.DataFrame({ '/r' : np.array(['anxiety_med', 'anxiety_therapy', 'bipolar','schizophrenia','* compound anxiety']),
                    'negative': [a*100 for a in negativ],
                    'neutral': [a*100 for a in neutra],
                    'positive': [a*100 for a in positiv],
                    'z_neg': [a*100 for a in [2237/5000, 1838/5000,1885/5000,663/1713,0]],
                    'z_pos':[a*100 for a in [2763/5000, 3162/5000, 3115/5000, 1050/1713,0]]})

In [10]:
df

                   /r   negative    neutral  positive      z_neg      z_pos
0         anxiety_med   0.620000  99.120000      0.26  44.740000  55.260000
1     anxiety_therapy   0.280000  99.380000      0.34  36.760000  63.240000
2             bipolar   0.460000  99.240000      0.30  37.700000  62.300000
3       schizophrenia   0.467017  99.532983      0.00  38.704028  61.295972
4  * compound anxiety  19.200000  70.220000     10.58   0.000000   0.000000

## named-entity recognition
## examine posts

https://nlp.stanford.edu/manning/
    
https://nlp.stanford.edu/manning/papers/


http://www.nltk.org/book/ch07.html